Python: Za hranice základů
---

9. Základy SQL (27.11.2023)

SQL (Structured Query Language) je dotazovací jazyk, který se používá pro práci v relačních databázích.

## Datové typy

Pro naše potřeby si vystačíme s vybranými datovými typy (každé SQL je má trochu jiné, my se zaměříme na SQLite).

- INTEGER - celé číslo
- REAL - desetinné číslo
- TEXT - řetezce a datumové položky
- NULL - "prázdná" hodnota

### Upřesňující informace k datovým typům

- AUTOINCREMENT - funkce pro automatickou identifikaci řádků
- UNIQUE - příznak, že se každá hodnota může v tabulce ve sloupci pouze jednou
- NOT NULL - sloupec nemůže nebývat hodnotu NULL
- PRIMARY KEY - říká, podle které hodnoty je tabulka identifikovaná (automaticky je UNIQUE)
- DEFAULT hodnota - při vkládání se použije výchozí hodnota, pokud není uvedena explicitně jiná hodnota pro tento sloupec

## SQLite

Pro práci s SQL použijeme knihovnu `sqlite3`

In [ ]:
import sqlite3

Pomocí metody `.connect()` se připojíme/vytvoříme databázi.

In [ ]:
connection = sqlite3.connect("kurz.db", timeout=60)

Vytvoříme kurzor, pomocí kterého budeme zadávat SQL dotazy přes vytvořené připojení.

In [ ]:
cursor = connection.cursor()

### Spouštění SQL příkazů

In [ ]:
result = cursor.execute("SELECT 'SQL příkaz'").fetchone()

### Čtení výsledků

- načítání po jednom záznamu z výsledků

In [ ]:
result = cursor.execute("SELECT 'SQL příkaz'")

In [ ]:
result.fetchone()

- načtení všech záznamů z výsledku

In [ ]:
cursor.execute("SELECT 'SQL příkaz'").fetchall()

### Potvrzení změn

In [ ]:
connection.commit()

### Ukončení připojení

In [ ]:
connection.close()

## Tvorba tabulky (relace) pomocí SQL

- tabulka se tvoří pomocí příkazu `CREATE TABLE`, kdy je potřeba definovat název tabulky, sloupce, jejich typy a dodatečné informace, např.:

```
CREATE TABLE uzivatel
(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    jmeno TEXT NOT NULL,
    prijmeni TEXT NOT NULL
);
```

In [ ]:
query = """
    CREATE TABLE uzivatel
    ( 
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        jmeno TEXT NOT NULL,
        prijmeni TEXT NOT NULL
    );
"""

- abychom tabulku vytvořili, musíme spustit příkaz `cursor.execute(query)`

In [ ]:
cursor.execute(query)

In [ ]:
result = cursor.execute("SELECT name FROM sqlite_master").fetchone()

## Vkládání dat

- pro vkládání dat do tabulky slouží příkaz `INSERT INTO`, kde se uvádějí informace o tabulce, o sloupcích a jejich hodnotách, např.:

```
INSERT INTO uzivatel (jmeno, prijmeni)
VALUES ("Petr", "Vomáčka")
```

In [ ]:
query = """
    INSERT INTO uzivatel (jmeno, prijmeni)
    VALUES ("Petr", "Vomáčka")
"""

In [ ]:
cursor.execute(query)

Po vložení jednoho nebo více záznamů musíme změnu potvrdit pomocí `connection.commit()`

In [ ]:
connection.commit()

## Vybírání dat

- pro výběr dat používáme příkaz `SELECT`, který doplníme o názvy sloupců nebo *, pokud chceme všechny a název tabulky, odkud chceme data získat, např.:

```
SELECT 
    jmeno, 
    prijmeni
FROM
    uzivatel
```

In [ ]:
query = """
    SELECT
        id,
        jmeno, 
        prijmeni
    FROM
        uzivatel
"""

In [ ]:
cursor.execute(query).fetchall()

## Mazání dat

- k mazání dat využijeme příkaz `DELETE FROM` se jménem tabulky, např.:

```
DELETE FROM uzivatel;
```

In [ ]:
query = """
    DELETE FROM uzivatel;
"""

In [ ]:
cursor.execute(query)

Ale co když nechceme z tabulky smazat úplně všechno (což asi nechceme.. :))

### Podmínky pro vyhledávání

- využijeme příkazu `WHERE`, který doplníme o sloupec a hodnotu, kterou má nabývat, např.:

```
SELECT
    *
FROM
    uzivatel
WHERE
    id = 1;
```

In [ ]:
query = """
    SELECT
        *
    FROM
        uzivatel
    WHERE
        id = 10;
"""

In [ ]:
cursor.execute(query).fetchone()

In [ ]:
r = cursor.execute(query)